@keyframes coverScrollerAnimation
    10%
        transform: translate(0, -15px) scale(0)

    30%
        transform: translate(0, -15px) scale(1)

    70%
        transform: translate(0, 0) scale(1)

    90%
        transform: translate(0, 0) scale(0)

.cover
    background-position: center center
    background-size: cover
    overflow: hidden
    padding: 210px 0 150px
    position: relative
    text-align: center
    width: 100%

    &::before,
    &::after
        content: ""
        display: block
        left: 0
        position: absolute
        top: 0
        width: 100%

    &::after
        background-color: rgba($color-2, .75)
        height: 100%
        z-index: 2

    &::before
        background: #0D59A4
        background: radial-gradient(circle, #0D59A4 35%, $color-2 100%)
        height: 200%
        opacity: .6
        z-index: 3

    &--big
        padding: 240px 0 180px

    &__content
        display: inline-block

    .title
        &:not(:last-child)
            margin-bottom: 10px
        &::after
            right: 50%
            transform: translate(50%, 0)

    &__subtitle
        color: $color-white
        padding: 7px 20px
        position: relative
        text-align: center
        width: 100%
        span
            position: relative
            z-index: 2
        &::before
            background-color: $color-3
            content: ""
            display: block
            height: 100%
            left: 0
            opacity: .7
            position: absolute
            top: 0
            transform: skewX(-16deg)
            width: 100%
            z-index: 1
        // @supports (-webkit-text-stroke: 1px $color-white)
        //     -webkit-text-fill-color: rgba($color-white, 0)
        //     -webkit-text-stroke: 1px $color-white
        //     color: rgba($color-white, 0)
        

    .container
        position: relative
        z-index: 5

    &__decoration
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 100%
        z-index: 4

        &::before,
        &::after
            background-color: $color-2
            content: ""
            display: block
            height: 160%
            mix-blend-mode: soft-light
            opacity: .3
            position: absolute
            top: 50%
            transform: translate(0, -50%) rotate(14deg)
            z-index: 1

        &::before
            left: -5%
            width: 35%

        &::after
            box-shadow: 120px -25px 0 0 $color-2, 240px -50px 0 0 $color-2, 360px -75px 0 0 $color-2, 480px -100px 0 0 $color-2, 600px -125px 0 0 $color-2, 720px -150px 0 0 $color-2, 840px -175px 0 0 $color-2, 960px -200px 0 0 $color-2, 1080px -225px 0 0 $color-2, 1200px -250px 0 0 $color-2
            left: calc(30% + 120px)
            width: 4px

    &__scroller
        border: 1px solid $color-white
        border-radius: 30px
        bottom: 15px
        height: 50px
        left: 50%
        position: absolute
        transform: translate(-50%, 0)
        width: 25px
        z-index: 6

        &::before
            animation: coverScrollerAnimation 3s infinite
            background-color: $color-white
            border-radius: 8px
            bottom: 6px
            content: ""
            display: block
            height: 8px
            left: calc(50% - 4px)
            position: absolute
            transform: scale(0)
            width: 8px

    @include media-breakpoint-up(md)
        padding: 180px 0 150px
        text-align: left

        &--big
            padding: 230px 0 200px

        .title
            &::after
                right: -7%
                transform: translate(0, 0)


        