.footer
    background-color: $color-1

    h3:not(.full)
        @supports (-webkit-text-stroke: 1px $color-white)
            -webkit-text-fill-color: rgba($color-white, 0)
            -webkit-text-stroke: 1px $color-white
            color: rgba($color-white, 0)

    a
        color: $color-white

    &__nav
        padding-bottom: 70px
        padding-top: 70px

        nav
            margin-bottom: 70px

        ul
            float: left
            width: 50%
            li
                &:not(:last-child)
                    margin-bottom: 15px

    &__more
        p,
        a
            color: $color-white
            font-weight: normal

    &__socials
        ul
            width: 100%
            li
                display: inline-block
                &:not(:last-child)
                    margin-right: 25px

        img
            height: 50px

    &__more
        background-color: $color-2
        padding: 15px 0
        width: 100%

    @include media-breakpoint-up(md)
        &__nav
            nav
                margin-bottom: 0
            ul
                display: block
                width: 100%
                &:not(:last-child)
                    margin-bottom: 15px
                li
                    display: inline-block
                    &:not(:last-child)
                        margin-bottom: 0
                        margin-right: 15px

        &__socials
            text-align: right

        &__more
            text-align: right